<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Login Form Sample</title>
</head>

<body>
    <div class="page-wrapper">

        <div class="page-selector">
            <div class="login-screen">Login</div>
            <div class="seperator">|</div>
            <div class="register-screen">Register</div>
        </div>

        <div class="login-wrapper">
            <form action="/" method="POST" id=login>
                {{ login_form.username }}
                <label for="login">Enter Username</label>
                <input type="text" name="login" class="username-login">
                <label for="password">Enter Password</label>
                <input type="text" name="password" class="password-login">
                <input type="submit" name="btn" value="Login" id='login-button'>
            </form>
        </div>

        <div class="register-wrapper">
            <form action="/" method="POST" id='register'>
                <label for="login">Enter Username</label>
                <input type="text" name="create-username">
                <label for="password-first">Enter Password</label>
                <input type="text" name="password-first">
                <label for="password-second">Confirm Password</label>
                <input type="text" name="password-second">
                <input type="submit" name="btn" value="Register" id='register-button'>
            </form>
        </div>
    </div>

    <script src="/static/app.js"></script>
</body>

</html>