<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Login Form Sample</title>
</head>

<body>
    {% block content %}
    <div class="page-wrapper">

        <div class="page-selector">
            <div class="login-screen">Login</div>
            <div class="seperator">|</div>
            <div class="register-screen">Register</div>
        </div>

        <div class="login-wrapper">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <!-- <ul class=flashes> -->
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            <!-- </ul> -->
            {% endif %}
            {% endwith %}
            <form action="" method="POST" id=login>
                {{ login_form.hidden_tag() }}
                <label for="login">Enter Username</label>
                {{ login_form.username(class="username-login") }}
                <label for="password">Enter Password</label>
                {{ login_form.password(class="password-login") }}
                {{ login_form.submit_login(id='login-button') }}
            </form>
        </div>

        <div class="register-wrapper">
            <form action="/" method="POST" id='register'>
                {{ register_form.hidden_tag() }}
                <label for="login">Enter Username</label>
                {{ register_form.registered_username(class="create-username") }}
                <label for="password-first">Enter Password</label>
                {{ register_form.password_one(class="password-first") }}
                <label for="password-second">Confirm Password</label>
                {{ register_form.password_two(class="password-first") }}
                {{ register_form.register_login(id='register-button') }}
            </form>
        </div>
    </div>

    <script src="/static/app.js"></script>
    {% endblock %}
</body>

</html>