body {
    background: rgb(201, 200, 200);
}

.page-wrapper {
    border-style: groove;
    background: whitesmoke;
    height: 80vh;
    width: 80vh;
    margin: auto;
}

.page-selector{
    justify-content: center;
    display: flex;
    background: grey;
    font-size: 1.5rem;
}

.seperator{
    padding: 5%;
}

.page-selector > div {
    padding: 1%;
    text-transform: uppercase;
}

.login-screen {
    cursor: pointer;
}

.register-screen {
    cursor: pointer;
}

.login-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 15%;
}

.login-wrapper.active {
    display: none;
}

#login {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

#login > label {
    margin-top: 3%;
}

#login > input {
    font-size: 1.25rem;
}

#login-button {
    padding: 2%;
    font-size: 1.25rem;
    background-color: darkgreen;
    width: 30%;
    margin-top: 5%;
}

.register-wrapper {
    width: 80%;
    margin: auto;
    margin-top: 5%;  
}

.register-wrapper.active {
    display: none;
}

#register {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

#register > label {
    margin-top: 3%
}

#register > input {
    font-size: 1.25rem;
}

#register-button {
    padding: 2%;
    font-size: 1.25rem;
    width: 30%;
    margin-top: 5%;
    background: seagreen;
}